---
import NoNav from "../layouts/NoNav.astro";
import { benefits } from "../../utils";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "../components/ui/breadcrumbs";
import CardBenefit from "../components/common/CardBenefit";
---

<NoNav title="Preguntas">
  <section
    class="w-full sm:pt-[4.5rem] sm:px-[7rem] px-[1rem] py-[2.5rem] h-[100vh] flex flex-col"
  >
    <Breadcrumb>
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink
            href="/"
            className="text-[#00000080] hover:text-[#000000]"
            >Inicio</BreadcrumbLink
          >
        </BreadcrumbItem>
        <BreadcrumbSeparator className="text-[#00000080]" />
        <BreadcrumbItem>
          <BreadcrumbLink className="text-[#000000]">Beneficios</BreadcrumbLink>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>
    <h2
      class="text-3xl font-normal tracking-tighter sm:text-5xl text-[#9DB2AF] font-yellowtail sm:mt-[1rem] mt-[3rem] title"
    >
      Beneficios
    </h2>
    <p
      class="sm:mt-[1rem] mt-[1rem] max-w-[700px] text-[#00000070] sm:text-xl/relaxed"
    >
      Hola, bienvenido a nuestra seccion de beneficios. Aqui podras ver todos
      los beneficios y descuentos que tenemos asociados a nuestra marca. Espero
      que los disfrutes!
    </p>
    <div class="w-full mt-4 grid grid-cols-2">
      {
        benefits.map((ben) => (
          <CardBenefit
            image={ben.image}
            brandName={ben.brandName}
            discountCode={ben.discountCode}
            brandPageLink={ben.brandPageLink}
            client:load
          />
        ))
      }
    </div>
  </section>
</NoNav>
