<footer class="w-full py-6 sm:py-4 bg-[#fffdfa] text-black">
  <div
    class="w-[100%] flex flex-col sm:grid gap-3 px-6 text-center sm:grid-cols-3"
  >
    <div
      class="space-y-4 flex flex-col justify-center items-center sm:mt-0 mt-2 lg:order-1 order-3"
    >
      <img
        alt="Logo"
        class="mx-auto object-cover w-[120px] bg-[#9DB2AF] py-2 px-4"
        height={50}
        src="/logoDani/logo-no-background.png"
        width={200}
      />
      <div class="flex justify-center items-center gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          color="#9DB2AF"
          fill="none"
          class="sm:w-[24px] sm:h-[24px] w-[20px] h-[20px]"
        >
          <path
            d="M2.5 12C2.5 7.52166 2.5 5.28249 3.89124 3.89124C5.28249 2.5 7.52166 2.5 12 2.5C16.4783 2.5 18.7175 2.5 20.1088 3.89124C21.5 5.28249 21.5 7.52166 21.5 12C21.5 16.4783 21.5 18.7175 20.1088 20.1088C18.7175 21.5 16.4783 21.5 12 21.5C7.52166 21.5 5.28249 21.5 3.89124 20.1088C2.5 18.7175 2.5 16.4783 2.5 12Z"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linejoin="round"></path>
          <path
            d="M16.5 12C16.5 14.4853 14.4853 16.5 12 16.5C9.51472 16.5 7.5 14.4853 7.5 12C7.5 9.51472 9.51472 7.5 12 7.5C14.4853 7.5 16.5 9.51472 16.5 12Z"
            stroke="currentColor"
            stroke-width="1.5"></path>
          <path
            d="M17.5078 6.5L17.4988 6.5"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <a
          href="https://www.instagram.com/puraluzz_"
          class="text-[#9DB2AF] sm:text-[16px] text-[13px]">@puraluzz_</a
        >
      </div>
    </div>
    <div class="space-y-4 lg:order-2 order-1">
      <h5 class="font-medium font-titleFont text-[#9DB2AF] title">
        Conoce mas
      </h5>
      <ul class="space-y-2">
        <li>
          <a
            class="text-sm font-semibold text-[#9DB2AF95] hover:underline hover:decoration-[#9DB2AF]"
            href="/preguntas"
          >
            Preguntas
          </a>
        </li>
        {
          /* <li>
              <a
                class="text-sm font-medium text-gray-500 hover:underline dark:text-gray-400 dark:hover:text-gray-300"
                href="/arriendo"
              >
                Arriendo Local
              </a>
            </li> */
        }
        <li>
          <a
            class="text-sm font-semibold text-[#9DB2AF95] hover:underline hover:decoration-[#9DB2AF]"
            href="/horarios"
          >
            Horarios
          </a>
        </li>
      </ul>
    </div>
    {
      /* <div class="space-y-4">
          <h5 class="font-semibold">Acerca de</h5>
          <ul class="space-y-2">
            <li>
              <a
                class="text-sm font-medium text-gray-500 hover:underline dark:text-gray-400 dark:hover:text-gray-300"
                href="#"
              >
                Our Story
              </a>
            </li>
            <li>
              <a
                class="text-sm font-medium text-gray-500 hover:underline dark:text-gray-400 dark:hover:text-gray-300"
                href="#"
              >
                Contact Us
              </a>
            </li>
          </ul>
        </div> */
    }
    <div class="space-y-4 lg:order-3 order-2">
      <h5 class="font-medium font-titleFont text-[#9DB2AF] title">Direccion</h5>
      <div class="flex flex-col text-sm leading-none">
        <a
          href="https://maps.app.goo.gl/pEwFYLK4c5NVCiGL8"
          class="text-[#9DB2AF95] cursor-pointer font-semibold hover:underline hover:decoration-[#9DB2AF]"
          target="_blank">Av La Dehesa 1201. Dpto 401, Torre Norte</a
        >
      </div>
      <h5 class="font-medium font-titleFont text-[#9DB2AF] title">Email</h5>
      <div class="flex flex-col text-sm leading-none">
        <a
          href="mailto:puraluzypuraoscuridad@gmail.com"
          class="text-[#9DB2AF95] font-semibold cursor-pointer hover:underline hover:decoration-[#9DB2AF] break-words"
          >puraluzypuraoscuridad@gmail.com</a
        >
      </div>
    </div>
  </div>
</footer>
